<div class="container" style="margin-top: 45px;">
    
</div>
{% extends "base.html" %}

{%block title %}
  {{product}} | {{block.super}}
{%endblock%}

{% block container %}
<h1>{{product}}</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="#" class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" />
      </a>
  </div>
  <div class="col-sm-8">
    <p class="text-left">
      <a href="{% url 'checkout:create_cartitem' product.slug %}" class="btn 
      btn-success">Adicionar ao Carrinho</a>
    </p>
     {{product.description | linebreaks}}
  </div>
</div>

{% endblock  %}